.invoice_create_seccion {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: content-box;
    width: 100%;
    margin: 0px auto;
    padding: 6em 0px;
    perspective: 500px;
    background-color: rgb(242, 245, 248);
    overflow: hidden;
}
